<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>My APP</title>
</head>
<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>